main{
    background-color:    #f1f1f1;
    height: 1000px;
}
header{
    background-color:    #f1f1f1;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

header>h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.container1{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    gap: 5px;
    
}
  
.bg1{
    background-color: black;
    color: white;
}

.Container2{
    width: 600px;
    height: 400px;
    background-color: #f1f1f1;
    margin 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.img1{
    width: 600px;
    height: 200px;
}

.h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
  font-size: 22px;
  margin: 10px;
}

.date1{
    text-align: left;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin  10px;
}

.text1{
    margin: 10px;
    text-align: left;
    font-size: 18px;
}

 .b1{
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
}

.container3{
  
    width: 500px;
    height: 300px;
    background-color: #f1f1f1;
    margin bottom: 50px; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
}

.img2{
    width: 500px;
    height: 150px;
    padding: 0px;
}

.text2{
    padding: 10px;
    display: flex;
    gap: 7px;
    flex-direction: column;
    font-size: 18px;
}

.img3{
    width: 600px;
    height: 150px;
}

.container4{
    width: 600px;
    height: 350px;
    background-color: #f1f1f1;
    margin 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
    display: flex;
    gap: 7px;
    flex-direction: column;
}
h3{
    font-size: 20px;
  
}

.container4 div{
    font-size: 18px;
    padding: 5px;
}

.b2{
    display: flex;
    justify-content: space-between;
}

.h3{
    font-size: 22px;
    background-color: #b3b1b1;    
    border-bottom: 1px solid black;
    margin: 5px;
    padding: 10px;
    height: 40px;
    display: flex;
    align-items: center;
}
.container5 .img4{
    width: 50px;
    height: 50px;
}

.container5{
    display: flex;
    width: 400px;
    height: 350px;
    flex-direction: column;
    background-color: #f1f1f1;
    margin 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
    gap 5px;
}
.C1{
    display: flex;
    font-size: 18px;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid gray;
    gap:  5px;
}

.c2{
    display: flex;
    font-size: 18px;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid gray;
    gap:  5px;
}

.c3{
    display: flex;
    font-size: 18px;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid gray;
    gap:  5px;
}

.c4{
    display: flex;
    font-size: 18px;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 5px;
    gap:  5px;
}

.h5{
    font-size: 22px;
    background-color: #b3b1b1;    
    border-bottom: 1px solid black;
    margin: 5px;
    padding: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    width: 375px;
}

.container6{
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    row-gap: 40px;
    column-gap: 5px;
    flex-wrap: wrap;
    padding: 15px;
 }
 .container7{
    background-color: #f1f1f1;
    margin 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
    width: 400px;
    height: 180px;
 }
.c8{
    background-color: rgb(186, 179, 179);
}

.common{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
    flex-direction: column;
    height: 900px;
    margin-top: 40px;
}

.common2{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 50px;
    flex-direction: column ;
    align-items: center;
    height: 900px;
    margin-top: 50px;
    align-items: center;
}

 main{
    display: flex;
   justify-content: space-around;
 }
 footer{
    background-color: gray;
    height: 120px;
    display: flex;
    justify-content: flex-start;
   
 }
 .button1{
    background-color: black;
    color: white;
    font-size: 18px;
    margin: 20px;
    width: 80px;
    height: 40px;
 }